@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  font-weight: 400;
  font-style: normal;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.mainSection {
  flex-grow: 1;
}

.card-img-top-nueva {
  width: 100%;
  height: 400px;
  object-fit: cover;
}

body {
  background-image: url('https://www.cal-llop.com/wp-content/uploads/fondo-Hotel-Cal-Llop-Priorat-5.jpg');
  background-size: cover; /* Ajusta el tamaño de la imagen para cubrir todo el fondo */
  background-repeat: no-repeat; /* Evita que la imagen se repita */
  background-position:   
center; /* Centra la imagen */
}